
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="fridge_contact_service2_area contact6">
    <div class="banner-page pt-125 pb-125" style="background-image: url(../../Content/Themes/assets/photo/hizmetler.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="banner-page-wrapper">
                        <div class="banner-page-text">
                            <h2>İletişim</h2>
                        </div>
                        <ul class="banner-page-menu">
                            <li><a href="https://suaritmaservisistanbul.com">Anasayfa</a></li>
                            <li><span>İletişim</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h3>Bizimle İletişime Geçin</h3>
                        <p>
                            İstanbul’un Tüm İlçelerine Teknik Servis Araçlarımızla 7/24 Su Arıtma Servisi Hizmeti Vermekteyiz.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact5_top">
            <!-- fridge_service_01 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-item all_color_service same2 text-center  ">
                    <div class="service_top_image"></div>
                    <div class="text_box all_icon_color">
                        <i class="fas fa-map-marker-alt"></i>
                        <h3>Adresimiz </h3>
                        <p>
                            Kocasinan Merkez Mahallesi
                            Ahmet Yesevi Caddesi No:220/a
                            Bahçelievler/İstanbul
                        </p>
                    </div>
                </div>
            </div>
            <!-- fridge_service_01 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-item all_color_service same2 text-center  ">
                    <div class="service_top_image"></div>
                    <div class="text_box all_icon_color">
                        <i class="fas fa-phone"></i>
                        <h3>İletişim Numaralarımız</h3>
                        <p>+90 (506) 999 7676,<br /> +90 (212) 452 04 64 </p>
                    </div>
                </div>
            </div>
            <!-- fridge_service_01 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-item all_color_service same2 text-center  ">
                    <div class="service_top_image"></div>
                    <div class="text_box all_icon_color">
                        <i class="far fa-envelope"></i>
                        <h3>Mail Adresimiz</h3>
                        <p>destek@suaritmaservisistanbul.com, miraysuaritma@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


