@using PagedList
@using PagedList.Mvc
@using ALPAY_WEP_PROJECT.Models.Siniflar
@model IPagedList<ServiceArea>
@{
    ViewBag.Title = "bolgelistele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Bölge Adı Adı</th>
        <th>DÜZENLEME</th>

    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.ID</td>
            <td>@u.Tittle</td>
            <td>
                <a href="/Admin/bolgelesil/@u.ID" class="btn btn-danger">Sil</a>
                <a href="/Admin/bolgegetir/@u.ID" class="btn btn-success">Güncelle</a>
                <a href="/Admin/bolgedetay/@u.ID" class="btn btn-primary">Detay</a>
            </td>

        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("bolgelistele", new { sayfa })
, new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})
<a href="/Admin/yeniurun/" class="btn btn-info" style="margin-left:500px">Yeni Bölge Girişi Yap</a>
<br />
<br />


