@using PagedList
@using PagedList.Mvc
@using ALPAY_WEP_PROJECT.Models.Siniflar
@model IPagedList<ServiceArea>

<div class="card card-indigo">
    <div class="card-header">
        <h3 class="card-title">Eklenen Son 5 Ürün</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" style="display: block;">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Bölge Adı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>@item.ID</td>
        <td>@item.Tittle</td>
        <td class="text-right py-0 align-middle">
            <div class="btn-group btn-group-sm">
                <a href="/Admin/bolgedetay/@item.ID" class="btn btn-success"><i class="fas fa-eye"></i></a>
                <a href="/Admin/bolgegetir/@item.ID" class="btn btn-info"><i class="fas fa-edit"></i></a>
                <a href="/Admin/bolgesil/@item.ID" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
        </td>
    </tr>
}

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <a href="/Admin/bolgelistele" class="btn btn-info"><i class="fas fa-eye"> Tüm Bölgeleri Görüntüle</i></a>
    </div>
</div>

