@using PagedList
@using PagedList.Mvc
@using ALPAY_WEP_PROJECT.Models.Siniflar
@model IPagedList<Service>
@{ ViewBag.Title = "hizmetlistele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>DÜZENLEME</th>

    </tr>
    @foreach (var u in Model)
    {
<tr>
    <td>@u.ID</td>
    <td>@u.Tittle</td>
    <td> 
    <a href="/Admin/hizmetsil/@u.ID" class="btn btn-danger">Sil</a> 
    <a href="/Admin/hizmetgetir/@u.ID" class="btn btn-success">Güncelle</a> 
    <a href="/Admin/hizmetdetay/@u.ID" class="btn btn-primary">Detay</a> 
    </td>

</tr>
}

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("hizmetlistele", new { sayfa })
, new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})
<a href="/Admin/hizmetekle/" class="btn btn-info" style="margin-left:500px">Yeni Hizmet Ekle</a>
<br />
<br />

